@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined");

:root {
	// Font families
	--qff-primary: "Montserrat", serif;
	--qff-mono: "JetBrains Mono", monospace;

	// Font weights
	--qfw-thin: 100;
	--qfw-extralight: 200;
	--qfw-light: 300;
	--qfw-regular: 400;
	--qfw-medium: 500;
	--qfw-semibold: 600;
	--qfw-bold: 700;
	--qfw-extrabold: 800;

	//Font sizes
	--qfs-xs: 0.75rem;
	--qfs-sm: 0.875rem;
	--qfs-base: 1rem;
	--qfs-lg: 1.125rem;
	--qfs-xl: 1.25rem;
	--qfs-2xl: 1.5rem;
	--qfs-3xl: 1.875rem;
}
