.container {
  position: relative;
}

.button {
  display: flex;
  gap: 3px;
  padding: 5px;

  .button-div {
    transition: 0.2s ease-in-out;
    border-radius: 100%;
    width: 4px;
    height: 4px;
    background-color: var(--qc-text-primary);
  }

  &.animate .button-div {
    animation: jump 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  }

  &.animate .button-div:nth-child(1) {
    animation-delay: 0s;
  }
  &.animate .button-div:nth-child(2) {
    animation-delay: 0.1s;
  }
  &.animate .button-div:nth-child(3) {
    animation-delay: 0.2s;
  }
}

.menu {
  position: absolute;
  top: 30px;
  right: -28px;
  border-radius: 5px;
  background-color: var(--qc-bg-tr);
  backdrop-filter: blur(5px);
  box-shadow: var(--qc-shadow-card);
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  line-height: 0px;
  max-height: 0px;
  animation: openMenu 0.3s ease-in-out;
  padding: 0 5px;
}

.open {
  .button {
    .button-div {
      background-color: var(--qc-accent-primary);
    }
  }
  .menu {
    max-height: 100px;
    line-height: 20px;
    padding: 10px 5px;
  }
}

@keyframes openMenu {
  0% {
    line-height: 0px;
    max-height: 0px;
  }
  100% {
    line-height: 20px;
    max-height: 300px;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-150%);
    animation-timing-function: ease-in;
  }
  75% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
  }
}
