.switch-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .switch-input {
    appearance: none;
    position: relative;
    background: var(--qc-bg-card);
    box-sizing: border-box;
    border: var(--qc-border-card);
    transition: 0.2s ease-in-out;
    &.checkbox {
      &::after {
        content: "check";
        position: absolute;
        color: var(--qc-text-inverted);
        top: 3px;
        left: 5px;
        width: 0px;
        height: 0px;
        overflow: hidden;
      }
    }
    &.radio {
      border-radius: 100%;
      &::after {
        display: none;
      }
    }

    &:hover {
      background-color: var(--qc-hover-accent-primary-tr);
    }

    &.checked::after {
      transition: 1s;
    }

    &.invalid {
      border: 1px solid var(--qc-error);
      box-shadow: 0 0 5px var(--qc-error);
      background-color: var(--qc-error-tr);
    }

    &.checked {
      box-shadow: 0 0 5px var(--qc-accent-primary);
      &.checkbox {
        background-color: var(--qc-accent-primary);
      }
      &.radio {
        border: 7px solid var(--qc-accent-primary);
      }
    }
  }

  &.s-sm {
    gap: 0.3rem;
    font-size: 15px;
    .switch-input {
      width: 20px;
      height: 20px;
      &.checkbox {
        border-radius: 4.5px;
      }
      &::after {
        left: 2px;
        top: 1px;
      }
      &.checked::after {
        width: 20px;
        height: 20px;
      }
    }
  }

  &.s-md {
    gap: 0.5rem;
    font-size: 20px;
    .switch-input {
      width: 30px;
      height: 30px;
      &.checkbox {
        border-radius: 7px;
      }
      &.checked::after {
        width: 30px;
        height: 30px;
      }
    }
  }

  &.s-lg {
    gap: 0.7rem;
    font-size: 30px;
    .switch-input {
      width: 40px;
      height: 40px;
      &.checkbox {
        border-radius: 10px;
      }
      &.checked::after {
        width: 40px;
        height: 40px;
      }
    }
  }
  .switch-label {
    font-family: var(--qff-primary);
  }
}
