.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--qc-bg-primary);
    padding-top: 100px;
    /* font-family: var(--qff-primary); */
    width: 100%;
    color: var(--qc-text-primary);
}
