.container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background-color: var(--qc-bg-primary);
	padding: 100px 0;
	/* font-family: var(--qff-primary); */
	width: fit-content;
	color: var(--qc-text-primary);
	margin: 0 auto;
}
.table {
	min-width: 850px;
	padding: 100px;
}