.filter-container {
  display: flex;
  align-items: center;
  gap: clamp(2px, 1vw, 5px);
  justify-content: end;
  cursor: pointer;
  padding: 0 20px;
  border-radius: 5px;
  transition: all 0.2s ease;
  &:hover {
    color: var(--qc-hover-text-primary);
    background-color: var(--qc-hover-accent-primary-tr);
  }
  .filter-title {
    font-weight: 500;
    font-size: 12px;
    margin: 0;
  }
}
